@*@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> _userManager;*@

<!doctype html>
<html lang="ar" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="البرنامج السحابي الافضل لإدارة مراكز صيانة السيارات في السعودية">
    <meta name="author" content="Kafahh">
    <link rel="shortcut icon" href="~/img/fav2.png">

    <!-- Title -->
    <title>@ViewData["Title"] - كفاءة نظام إدارة ورش السيارات</title>


    <script src="~/js/jquery.min.js"></script>

    <!-- *************
        ************ Common Css Files *************
    ************ -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">

    <!-- Icomoon Font Icons css -->
    <link rel="stylesheet" href="~/fonts/style.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/main-rtl.css">


    <!-- *************
        ************ Vendor Css Files *************
    ************ -->
    <!-- Mega Menu -->
    <link rel="stylesheet" href="~/vendor/megamenu/css/megamenu.css">

    <!-- Search Filter JS -->
    <link rel="stylesheet" href="~/vendor/search-filter/search-filter.css">
    <link rel="stylesheet" href="~/vendor/search-filter/custom-search-filter.css">

    <!-- Plugins Customization RTL -->
    <link rel="stylesheet" href="~/css/plugins-rtl.css">

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="~/vendor/bs-select/bs-select.css" />

    <!-- Rangeslider CSS -->
    <link rel="stylesheet" href="~/vendor/range-slider/ion.rangeSlider.css" />

    <!-- Data Tables -->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bs4-custom.css" />
    <link href="~/vendor/datatables/buttons.bs.css" rel="stylesheet" />

    <!-- Morris CSS -->
    <link rel="stylesheet" href="~/vendor/morris/morris.css" />

</head>
<body>




    <!-- Loading wrapper start -->
    @*<div id="loading-wrapper">
            <div class="spinner-border"></div>
        </div>*@
    <!-- Loading wrapper end -->
    <!-- Page wrapper start -->
    <div class="page-wrapper">

        <!-- Sidebar wrapper start -->
        <nav class="sidebar-wrapper">

            <!-- Default sidebar wrapper start -->
            <div class="default-sidebar-wrapper">

                <!-- Sidebar brand starts -->
                <div class="default-sidebar-brand">
                    <div class="justify-content-center d-flex">
                        <a href="index.html" class="logo">
                            <img src="~/img/logo.png" alt="Thirty Core" />
                        </a>
                    </div>

                </div>
                <!-- Sidebar brand starts -->
                <!-- Sidebar menu starts -->
                <div class="defaultSidebarMenuScroll">
                    <div class="default-sidebar-menu">
                        <ul>
                            <li>
                                <a href="/BackOffice/Home/">
                                    <i class="icon-home2"></i>
                                    <span class="menu-text">الملخص</span>
                                </a>

                            </li>
                            <li class="default-sidebar-dropdown">
                                <a href="#">
                                    <i class="icon-time_to_leave"></i>
                                    <span class="menu-text">المركبات</span>
                                </a>
                                <div class="default-sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="/BackOffice/Vehicles/Index?filter=all">كل المركبات</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Vehicles/Index?filter=invoice">مركبات لم يصدر لها فاتورة</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Vehicles/Index?filter=card">مركبات لم يصدر لها كرت دخول</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="default-sidebar-dropdown">
                                <a href="#">
                                    <i class="icon-file-text"></i>
                                    <span>الفواتير</span>
                                </a>
                                <div class="default-sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="/BackOffice/Invoices/Index?filter=all">كل الفواتير</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Invoices/Index?filter=sales">فواتير البيع</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Invoices/Index?filter=salesreturn">فواتير المرتجعات</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="/BackOffice/Customers">
                                    <i class="icon-users"></i>
                                    <span class="menu-text">العملاء</span>
                                </a>

                            </li>
                            <li>
                                <a href="/BackOffice/Items">
                                    <i class="icon-local_offer"></i>
                                    <span class="menu-text">الاصناف</span>
                                </a>

                            </li>
                            <li class="default-sidebar-dropdown">
                                <a href="#">
                                    <i class="icon-briefcase"></i>
                                    <span class="menu-text">تقارير المبيعات</span>
                                </a>
                                <div class="default-sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="/BackOffice/Reports/Sales">المبيعات</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Reports/SalesReturn/">المرتجعات</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Reports/SalesByItems/">المبيعات حسب الاصناف</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Reports/MostCustomesrVisit/">العملاء الاكثر زيارة</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Reports/MostBranchesSales/">الفروع الاعلى بيعاً</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="default-sidebar-dropdown">
                                <a href="#">
                                    <i class="icon-assignment_turned_in"></i>
                                    <span class="menu-text">تقارير المركبات</span>
                                </a>
                                <div class="default-sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="/BackOffice/Reports/ReparingAvg">متوسط بقاء السيارة في الورشة</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Reports/VechilesMostVisit/">المركبات الاكثر زيارة</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="default-sidebar-dropdown">
                                <a href="#">
                                    <i class="icon-settings1"></i>
                                    <span class="menu-text">الاعدادات</span>
                                </a>
                                <div class="default-sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="/BackOffice/Settings/Branches">الفروع والاشتراكات</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Users">المستخدمين</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/Settings/CompanyProfile/">ملف الشركة</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/MessagingTemplates/">قوالب المراسلة</a>
                                        </li>
                                        <li>
                                            <a href="/BackOffice/IntegrationSettings/">إعدادات الربط API</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Sidebar menu ends -->

            </div>
            <!-- Default sidebar wrapper end -->

        </nav>
        <!-- Sidebar wrapper end -->
        <!-- *************
            ************ Main container start *************
        ************* -->
        <div class="main-container">

            <!-- Page header starts -->
            <div class="page-header">

                <!-- Row start -->
                <div class="row gutters">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-9">

                        <!-- Search container start -->
                        <div class="search-container">

                            <!-- Toggle sidebar start -->
                            <div class="toggle-sidebar" id="toggle-sidebar">
                                <i class="icon-menu"></i>
                            </div>

                        </div>
                        <!-- Search container end -->

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-3">

                        <!-- Header actions start -->
                        <ul class="header-actions">
                            <li class="dropdown">
                            </li>
                            <li class="dropdown">
                            </li>

                            <li class="dropdown">
                                <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
                                    <span class="avatar">
                                        <img src="~/img/user.svg" alt="User Avatar">
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end md" aria-labelledby="userSettings">
                                    <div class="header-profile-actions">
                                        <a href="/Accounts/profile"><i class="icon-user1"></i>الملف الشخصي</a>
                                        <form method="post" asp-area="" asp-controller="Accounts" asp-action="Logout">
                                            <button type="submit" class="btn btn-link">
                                                <i class="icon-log-out1"></i>تسجيل خروج
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Header actions end -->

                    </div>
                </div>
                <!-- Row end -->

            </div>
            <!-- Page header ends -->
            <!-- Content wrapper scroll start -->
            <div class="content-wrapper-scroll">

                <!-- Content wrapper start -->
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- Content wrapper end -->
                <!-- App Footer start -->
                <div class="app-footer">
                    <a href="https://kafahh.com/" target="_blank">
                        © كفاءة 2022 |  منصة واحدة لإدارة مراكز صيانة السيارات
                    </a>
                </div>                <!-- App footer end -->

            </div>
            <!-- Content wrapper scroll end -->

        </div>
        <!-- *************
            ************ Main container end *************
        ************* -->

    </div>
    <!-- Page wrapper end -->
    <!-- *************
        ************ Required JavaScript Files *************
    ************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/moment.js"></script>

    <!-- *************
        ************ Vendor Js Files *************
    ************* -->
    <!-- Megamenu JS -->
    <script src="~/vendor/megamenu/js/megamenu.js"></script>
    <script src="~/vendor/megamenu/js/custom.js"></script>

    <!-- Slimscroll JS -->
    <script src="~/vendor/slimscroll/slimscroll.min.js"></script>
    <script src="~/vendor/slimscroll/custom-scrollbar.js"></script>

    <!-- Search Filter JS -->
    <script src="~/vendor/search-filter/search-filter.js"></script>
    <script src="~/vendor/search-filter/custom-search-filter.js"></script>

    <!-- Bootstrap Select JS -->
    <script src="~/vendor/bs-select/bs-select.min.js"></script>
    <script src="~/vendor/bs-select/bs-select-custom.js"></script>

    <!-- Range Slider JS -->
    <script src="~/vendor/range-slider/ion.rangeSlider.min.js"></script>
    <script src="~/vendor/range-slider/rangeSlider-custom.js"></script>

    <!-- Data Tables -->
    <script src="~/vendor/datatables/dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap.min.js"></script>

    <!-- Custom Data tables -->
    <script src="~/vendor/datatables/custom/custom-datatables.js"></script>

    <!-- Download / CSV / Copy / Print -->
    <script src="~/vendor/datatables/buttons.min.js"></script>
    <script src="~/vendor/datatables/jszip.min.js"></script>
    <script src="~/vendor/datatables/pdfmake.min.js"></script>
    <script src="~/vendor/datatables/vfs_fonts.js"></script>
    <script src="~/vendor/datatables/html5.min.js"></script>
    <script src="~/vendor/datatables/buttons.print.min.js"></script>


    <!-- Morris Graphs -->
    <script src="~/vendor/morris/raphael-min.js"></script>
    <script src="~/vendor/morris/morris.min.js"></script>

    <!-- Main Js Required -->
    <script src="~/js/main.js"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>