@model List<reviewProject.ViewModels.QuestionReviewViewModel>;

@{
    ViewData["Title"] = "Index";
}

<style>
    td#rangeContainer {
        display: flex;
        justify-content: space-evenly;
    }
</style>

<h1>التقييم</h1>






@foreach (var item in Model)
{
    <div>@item.Questions</div>
    for (var i = 0; i < 5; i++)
    {
        <input type="radio" class="allRadioBtns" name="radioOfQuesID-@(item.QuesId)" value="@(i+1)" />
        <label>@(i+1)</label>
    }
}
<br>
<button id="btnSubmit" class="btn btn-primary">تـــم</button>


<script>
    let result = new Array();
    

    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            $(".allRadioBtns").each(function () {
                if ($(this).prop("checked")) {
                    let item = {};
                    console.log("item.QuesId:[", ($(this).attr('name')).split("-")[1], "] \nvalue:[", $(this).val(), "]");
                    item.quisId = ($(this).attr('name')).split("-")[1];
                    item.range = $(this).val(); 
                    result.push(item);
                    
                }
                

            })
            console.log(JSON.stringify(result));
            $.ajax({
                contentType: "application/JSON; charset=utf-8",
                dataType: 'json',
                type: 'POST',
                url: '/Review/Index',
                data: JSON.stringify(result),
                success: function () { console.log("Worked") },
                error: function () { console.log("failed") }
            })
        })
    })



</script>





@* <form asp-action="Index" >
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Questions)
    </td>

    <td id="rangeContainer">
    <div>
    <input asp-for="Range" type="radio" id="1" name="Range" value="1">
    <label ">1</label>
    </div>
    <br>
    <div>
    <input type="radio" id="2" name="Range" value="2">
    <label asp-for="Range">2</label>
    </div>
    <br>
    <div>
    <input type="radio" id="3" name="Range" value="3">
    <label asp-for="Range">3</label>
    </div>
    <br>
    <div>
    <input type="radio" id="4" name="Range" value="4">
    <label asp-for="Range">4</label>
    </div>
    <br>
    <div>
    <input type="radio" id="5" name="Range" value="5">
    <label asp-for="Range">5</label>
    </div>
    <br><br>
    <input type="submit" value="تـــم">
    </td>
    </tr>
    </form>*@
</tbody>

</table>
