@model IEnumerable<reviewProject.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>لوحة الأسئلة</h1>

<p>
    <a class="btn-primary" style="padding: 5px 10px;" asp-action="Create">إنشاء سؤال جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="font-size: 1.7rem;">
                @Html.DisplayNameFor(model => model.Questions)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Questions)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
